:root {
    --bg-light: #FFFAF0;
    --bg-light2: #ede4d6;
    --text-light: #2a2633;
    --text-light2: #544b59;

    --pink: #EF476F;
    --babyBlue: #118AB2;
    --maybeBlue: #146493;
}

@media(prefers-color-scheme:dark) {
    :root {
        --text: var(--bg-light);
        --background: var(--text-light);
        --background2: var(--text-light2);
    }
}

@media(prefers-color-scheme:light) {
    :root {
        --text: var(--text-light);
        --background: var(--bg-light);
        --background2: var(--bg-light2);
    }
}

.backgroundDat {
    background-color: var(--background2);
    color: var(--text);
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: var(--background);
    color: var(--text);
}

p, h2, h4, h5, h6 {
    color: var(--text);
    text-align: center;
}

h3, h1 {
    color: var(--pink);
    text-align: center;
}

.basic {
    color: var(--text);
}

.btnColorP {
    color: var(--bg-light);
    background-color: var(--pink);
}

.btnColorPInvert{
    color: var(--pink);
    background-color: var(--bg-light);
}

.btnRound {
    border-radius: 10%;
}

.btnColorB {
    color: var(--bg-light);
    background-color: var(--babyBlue);
}

.btnColorBInvert{
    color: var(--babyBlue);
    background-color: var(--bg-light);
}
